In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#READ DATASET

In [5]:
df=pd.read_csv('smsspam.csv', encoding = "ISO-8859-1", engine='python')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,Go to wonderful and have fun with friends!!,NaN,NaN,NaN
1,ham,Ok bro cya soon..,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early man... U mean peep...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to us, he lives arou...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request ' (thunderclouds)' has bee...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN
10,ham,I'm gonna be home soon and i don't want to tal...,NaN,NaN,NaN
11,spam,"SIX chances to win CASH! From 100 to 20,000 po...",NaN,NaN,NaN
12,spam,URGENT! You have won a 1 week FREE membership ...,NaN,NaN,NaN
13,ham,I've been searching for the right words to tha...,NaN,NaN,NaN
14,ham,I HAVE A DATE ON SUNDAY WITH paul!!,NaN,NaN,NaN
15,spam,"XXXMobileMovieClub: To use your credit, click ...",NaN,NaN,NaN
16,ham,Oh k...i'm watching here:),NaN,NaN,NaN
17,ham,Eh u remember how awsm v used spnd our summar ...,NaN,NaN,NaN
18,ham,Fine if thatåÕs the way u feel. ThatåÕs the wa...,NaN,NaN,NaN
19,spam,England v Macedonia - dont miss the goals/team...,NaN,NaN,NaN
20,ham,Is that seriously how you spell his name?,NaN,NaN,NaN
21,ham,ok I will work on that project soon..,NaN,NaN,NaN
22,ham,So Ì_ pay first lar... Then when is da stock c...,NaN,NaN,NaN
23,ham,Aft i finish my lunch then i go str down lor. ...,NaN,NaN,NaN
24,ham,Ffffffffff. Alright no way I can meet up with ...,NaN,NaN,NaN
25,ham,Just forced myself to eat a slice. I'm really ...,NaN,NaN,NaN
26,ham,Lol your always so convincing.,NaN,NaN,NaN
27,ham,Did you catch the bus ? Are you frying an egg ...,NaN,NaN,NaN
28,ham,"I'm back &amp; we're packing the car now, I'll...",NaN,NaN,NaN
29,ham,Ahhh. Work. I vaguely remember that! What does...,NaN,NaN,NaN
...,...,...,...,...,...
5542,ham,Armand says get your ass over to epsilon,NaN,NaN,NaN
5543,ham,U still havent got urself a jacket ah?,NaN,NaN,NaN
5544,ham,"I'm taking derek &amp; taylor to walmart, if I...",NaN,NaN,NaN
5545,ham,Hi its in durban are you still on this number,NaN,NaN,NaN
5546,ham,Ic. There are a lotta childporn cars then.,NaN,NaN,NaN
5547,spam,Had your contract mobile 11 Mnths? Latest Moto...,NaN,NaN,NaN
5548,ham,"No, I was trying it all weekend ;V",NaN,NaN,NaN
5549,ham,"You know, wot people wear. T shirts, jumpers, ...",NaN,NaN,NaN
5550,ham,"Cool, what time you think you can get here?",NaN,NaN,NaN
5551,ham,Wen did you get so spiritual and deep. That's ...,NaN,NaN,NaN
5552,ham,Have a safe trip to Nigeria. Wish you happines...,NaN,NaN,NaN
5553,ham,Hahaha..use your brain dear,NaN,NaN,NaN
5554,ham,Well keep in mind I've only got enough gas for...,NaN,NaN,NaN
5555,ham,Yeh. Indians was nice. Tho it did kane me off ...,NaN,NaN,NaN
5556,ham,Yes i have. So that's why u texted. Pshew...mi...,NaN,NaN,NaN
5557,ham,No. I meant the calculation is the same. That ...,NaN,NaN,NaN
5558,ham,"Sorry, I'll call later",NaN,NaN,NaN
5559,ham,if you aren't here in the next &lt;#&gt; hou...,NaN,NaN,NaN
5560,ham,Anything lor. Juz both of us lor.,NaN,NaN,NaN
5561,ham,Get me out of this dump heap. My mom decided t...,NaN,NaN,NaN
5562,ham,Ok lor... Sony ericsson salesman... I ask shuh...,NaN,NaN,NaN
5563,ham,Ard 6 like dat lor.,NaN,NaN,NaN
5564,ham,Why don't you wait 'til at least wednesday to ...,NaN,NaN,NaN
5565,ham,Huh y lei...,NaN,NaN,NaN
5566,spam,REMINDER FROM O2: To get 2.50 pounds free call...,NaN,NaN,NaN
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to NY fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in not mood for cooking. So...any ...",NaN,NaN,NaN
5570,ham,The guy did some creative stuffs,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [6]:
#COLUMNS THAT ARE NOT USABLE

In [7]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,Go to wonderful and have fun with friends!!,NaN,NaN,NaN
1,ham,Ok bro cya soon..,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early man... U mean peep...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to us, he lives arou...",NaN,NaN,NaN

In [8]:
#First, we drop the 3 columns with NAN values.

In [9]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [10]:
#RENAME THE COLUMNS

In [11]:
df.rename(columns={'v1':'Label', 'v2':'Text'}, inplace=True)

In [12]:
df.tail()

     Label                                               Text
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham                     Will Ì_ b going to NY fr home?
5569   ham  Pity, * was in not mood for cooking. So...any ...
5570   ham                   The guy did some creative stuffs
5571   ham                         Rofl. Its true to its name

In [13]:
df.groupby('Label').describe()

       Text
      count unique                                                top freq
Label
ham    4825   4517                             Sorry, I'll call later   30
spam    747    653  Please call our customer service representativ...    4

In [14]:
df.Label.value_counts()

ham     4825
spam     747
Name: Label, dtype: int64

In [15]:
df['length'] = df['Text'].apply(len)
df['length']

0        43
1        18
2       155
3        40
4        60
5       162
6        74
7       128
8       158
9       154
10      109
11      136
12      156
13      196
14       35
15      149
16       26
17       52
18       58
19      156
20       41
21       37
22       53
23       88
24       57
25      144
26       30
27      134
28       75
29       64
       ...
5542     40
5543     38
5544    154
5545     45
5546     42
5547    160
5548     34
5549     87
5550     43
5551     51
5552     91
5553     27
5554     98
5555    153
5556     63
5557    273
5558     22
5559     66
5560     33
5561     70
5562     96
5563     19
5564     67
5565     12
5566    147
5567    161
5568     30
5569     64
5570     32
5571     26
Name: length, Length: 5572, dtype: int64

In [116]:
df.head()

  Label                                               Text  length
0   ham        Go to wonderful and have fun with friends!!      43
1   ham                                 Ok  bro cya soon..      18
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham           U dun say so early man... U mean peep...      40
4   ham  Nah I don't think he goes to us, he lives arou...      60

In [16]:
df['label_num'] = df.Label.map({'ham':0, 'spam':1})
df['label_num']

0       0
1       0
2       1
3       0
4       0
5       1
6       0
7       0
8       1
9       1
10      0
11      1
12      1
13      0
14      0
15      1
16      0
17      0
18      0
19      1
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
5542    0
5543    0
5544    0
5545    0
5546    0
5547    1
5548    0
5549    0
5550    0
5551    0
5552    0
5553    0
5554    0
5555    0
5556    0
5557    0
5558    0
5559    0
5560    0
5561    0
5562    0
5563    0
5564    0
5565    0
5566    1
5567    1
5568    0
5569    0
5570    0
5571    0
Name: label_num, Length: 5572, dtype: int64

In [17]:
df.head()

  Label                                               Text  length  label_num
0   ham        Go to wonderful and have fun with friends!!      43          0
1   ham                                 Ok  bro cya soon..      18          0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155          1
3   ham           U dun say so early man... U mean peep...      40          0
4   ham  Nah I don't think he goes to us, he lives arou...      60          0

In [18]:
df.tail()

,Label,Text,length,label_num
5567,spam,This is the 2nd time we have tried 2 contact u...,161,1
5568,ham,Will Ì_ b going to NY fr home?,30,0
5569,ham,"Pity, * was in not mood for cooking. So...any ...",64,0
5570,ham,The guy did some creative stuffs,32,0
5571,ham,Rofl. Its true to its name,26,0

In [19]:
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
%config InlineBackend.figure_format = 'retina'

In [20]:
#TRAIN TEST SPLIT

In [21]:
from sklearn.model_selection import train_test_split

In [126]:
X_train,X_test,y_train,y_test = train_test_split(df["Text"],df["Label"], test_size = 0.2, random_state = 10)

In [127]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4457,)
(1115,)
(4457,)
(1115,)

In [128]:
#TEXT TRANSFORMATION

In [129]:
from sklearn.feature_extraction.text import CountVectorizer

In [130]:
vect = CountVectorizer()

In [131]:
vect.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [132]:
print(vect.get_feature_names()[0:20])
print(vect.get_feature_names()[-20:])

['00', '000', '000pes', '008704050406', '0089', '0121', '01223585236', '01223585334', '0125698789', '02', '0207', '02072069400', '02073162414', '02085076972', '021', '03', '04', '0430', '05', '050703']
['zyada', 'åð', 'åòharry', 'åòit', 'åômorrow', 'åôrents', 'ì_', 'ì¼1', 'ìä', 'ìï', 'ó_', 'û_', 'û_thanks', 'ûªm', 'ûªt', 'ûªve', 'ûï', 'ûïharry', 'ûò', 'ûówell']

In [133]:
X_train_df = vect.transform(X_train)

In [134]:
#TRANSFORM THE DATASET

In [135]:
X_test_df = vect.transform(X_test)

In [136]:
type(X_test_df)

scipy.sparse.csr.csr_matrix

In [175]:
#PREDICTION-"NAIVE BAYES"

In [176]:
prediction = dict()
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_df,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [177]:
prediction["Multinomial"] = model.predict(X_test_df)

In [178]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [179]:
accuracy_score(y_test,prediction["Multinomial"])

0.989237668161435

In [180]:
#Logistic Regression

In [181]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train_df,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [182]:
prediction["Logistic"] = model.predict(X_test_df)

In [183]:
accuracy_score(y_test,prediction["Logistic"])

0.9811659192825112

In [184]:
#KNN CLASSIFIER

In [185]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train_df,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [186]:
prediction["knn"] = model.predict(X_test_df)

In [187]:
accuracy_score(y_test,prediction["knn"])

0.9130044843049328

In [188]:
#Ensemble classifier

In [189]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train_df,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [190]:
prediction["random_forest"] = model.predict(X_test_df)

In [191]:
accuracy_score(y_test,prediction["random_forest"])

0.967713004484305